/* general */
  body {
  	/* background: #000000; */
  }
  svg {
    width: 100%;
    height: 100%;
  }
  path {
    fill: none;
    stroke: #000;
  }
/* general */


/* tooltip */
  #tooltip {
    position: absolute;
    /*width: 200px;*/
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }
  #tooltip span {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
  .hidden {
    display: none;
  }
/* tooltip */


/* structure */
  .chart-container {
    width: 650px;
    /*height: 650px;*/
    /*background-color: #e8e8e8;*/
    display: inline-block;
  }
  .about {
    font-size: .7em;
  }
/* structure */


/* osm road map */
  .major_road { stroke: #444; }
  .minor_road { stroke: #bbb; }
  .highway { stroke: #111; stroke-width: 1.5px; }
/* osm road map */


/* neighborhood map */
  .neighborhood {
    fill: rgba(177, 168, 153, 0.5);
    stroke: #38383a;
  }
  .neighborhood:hover {
     fill: rgba(247, 91, 68, 0.5);
  }
/* neighborhood map */


/* census map */
  .censustract:hover {
    fill: rgba(247, 91, 68, 0.5);
  }
/* census map */


/* bar chart */
  .bar:hover {
    fill: rgba(247, 91, 68, 0.5);
  }
  .bar {
    stroke: #000;
  }
/* bar chart */


/* colors */
  .q0-90 { fill:rgba(247,251,255,0.6); }
  .q1-90 { fill:rgba(222,235,247,0.6); }
  .q2-90 { fill:rgba(198,219,239,0.6); }
  .q3-90 { fill:rgba(158,202,225,0.6); }
  .q4-90 { fill:rgba(107,174,214,0.6); }
  .q5-90 { fill:rgba(66,146,198,0.6); }
  .q6-90 { fill:rgba(33,113,181,0.6); }
  .q7-90 { fill:rgba(8,81,156,0.6); }
  .q8-90 { fill:rgba(8,48,107,0.6); }

  .q0-91 { fill:rgba(247,244,249,0.6) }
  .q1-91 { fill:rgba(231,225,239,0.6) }
  .q2-91 { fill:rgba(212,185,218,0.6) }
  .q3-91 { fill:rgba(201,148,199,0.6) }
  .q4-91 { fill:rgba(223,101,176,0.6) }
  .q5-91 { fill:rgba(231,41,138,0.6) }
  .q6-91 { fill:rgba(206,18,86,0.6) }
  .q7-91 { fill:rgba(152,0,67,0.6) }
  .q8-91 { fill:rgba(103,0,31,0.6) }
/* colors */
