body {
	/* background: #000000; */
}

path {
  fill: none;
  stroke: #000;
}

.chart-container {
  width: 650px;
  height: 650px;
}
.major_road { stroke: #444; }
.minor_road { stroke: #bbb; }
.highway { stroke: #111; stroke-width: 1.5px; }

svg {
  width: 100%;
  height: 100%;
}
.neighborhood {
  fill: rgba(177, 168, 153, 0.5);
  stroke: #38383a;
}

.neighborhood:hover {
   fill: rgba(247, 91, 68, 0.5);
 }

.censustract:hover {
  fill: rgba(247, 91, 68, 0.5);
}

.hidden {
  display: none;
}

.q0-9 { fill:rgba(247,251,255,0.6); }
.q1-9 { fill:rgba(222,235,247,0.6); }
.q2-9 { fill:rgba(198,219,239,0.6); }
.q3-9 { fill:rgba(158,202,225,0.6); }
.q4-9 { fill:rgba(107,174,214,0.6); }
.q5-9 { fill:rgba(66,146,198,0.6); }
.q6-9 { fill:rgba(33,113,181,0.6); }
.q7-9 { fill:rgba(8,81,156,0.6); }
.q8-9 { fill:rgba(8,48,107,0.6); }
